@import '_vars-assets';
@import '_vars-fonts';
@import '_vars-colors';

$line-height: 19px;

.change-widget {
    height: $line-height + 16px;
    background-color: #A6F3A6;
    position: relative;

    button {
        position: absolute;
        top: 4px;
        z-index: 1000;
    }

    .accept-change {
        right: 6px;
    }

    .cancel-change {
        right: 76px;
    }
}

.old-line {
    background-color: #F8CBCB !important;
}

.CodeMirror {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-family: $font-monospace;
  font-size: 13px;
  cursor: text;

  .CodeMirror-selected {
    background-color: $color-editor-selection;
  }

  .CodeMirror-lines {
    padding: 12px 0;

    .CodeMirror-line {
      height: 20px;
      line-height: 20px;
    }
  }

  .CodeMirror-linenumber {
    padding-right: 8px;
    font-size: 10px;
    line-height: 19px;
  }

  .CodeMirror-gutter,
  .CodeMirror-linenumbers {
    cursor: default;
  }

  .CodeMirror-gutter-wrapper.active-line .CodeMirror-linenumber {
    color: white;
  }

  .CodeMirror-gutter-background.active-line {
    background-color: #00f;
  }

  .CodeMirror-linebackground.active-line {
    background-image: url($assets-line-arrow-path);
    background-repeat: no-repeat;
    background-position: left center;
  }

  .gutter-focus {
    width: 12px;
    cursor: default;
  }

  .CodeMirror-gutter-background.focus-line {
    cursor: default;

    &::before {
      content: "●";
      width: 12px;
      display: block;
      position: relative;
      left: 4px;
      cursor: default;
    }

    &.active-line::before {
      color: white;
    }
  }
}
