@import '_vars-assets';
@import '_vars-fonts';
@import '_vars-colors';

$line-height: 19px;

.old-line {
    background-color: #F8CBCB !important;
}

.CodeMirror {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-family: $font-monospace;
  font-size: 13px;
  cursor: text;

  .CodeMirror-linewidget {
    overflow: visible;
  }

  .diff-old-line {
    background-color: $color-diff-red;
  }

  .diff-change {
    background-color: $color-diff-red-dark;
  }

  .diff-widget {
    height: $line-height;
    position: relative;
    background-color: $color-diff-green;

    .diff-change {
      background-color: $color-diff-green-dark;
    }

    button {
      width: 120px;
      text-align: left;
      display: block;
      position: absolute;
      right: 8px;
      margin: 0;
      padding: 0;
      background: none;
      border-style: none;
      cursor: pointer;
      color: lighten(black, 60%);
      z-index: 1000;

      &:hover {
        color: black;
      }
    }

    .cancel-change {
      top: -$line-height;
    }

    .accept-change {
      top: 0;
    }
  }

  .CodeMirror-selected {
    background-color: $color-editor-selection;
  }

  .CodeMirror-lines {
    padding: 12px 0;

    .CodeMirror-line {
      height: 20px;
      line-height: 20px;
    }
  }

  .CodeMirror-linenumber {
    padding-right: 8px;
    font-size: 10px;
    line-height: 19px;
  }

  .CodeMirror-gutter,
  .CodeMirror-linenumbers {
    cursor: default;
  }

  .CodeMirror-gutter-wrapper.active-line .CodeMirror-linenumber {
    color: white;
  }

  .CodeMirror-gutter-background.active-line {
    background-color: #00f;
  }

  .CodeMirror-linebackground.active-line {
    background-image: url($assets-line-arrow-path);
    background-repeat: no-repeat;
    background-position: left center;
  }

  .gutter-focus {
    width: 12px;
    cursor: default;
  }

  .CodeMirror-gutter-background.focus-line {
    cursor: default;

    &::before {
      content: "●";
      width: 12px;
      display: block;
      position: relative;
      left: 4px;
      cursor: default;
    }

    &.active-line::before {
      color: white;
    }
  }
}
